*, *:before, *:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height:auto;
}

html {
	overflow-y: auto;
	min-height: 100%;
	text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	overflow-x:hidden;
	background-color: $seclight;
	color:$pridark;
	font-family: $sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	@include bp($s4){
		font-size: 16px;
	}
	@include bp($s5){
		font-size: 18px;
	}
}


a {
	text-decoration: none;
	color:$highlight-light;
	&:hover, &:focus {
		color: $highlight;
	}
}

.wrapper {
	@include clearfix();
	position: relative;
	margin:0 auto;
	padding:0 1em;
	max-width: $normalmax;
	@include bp($s1) {
		padding:0 2em;
	}
	@include bp($s2) {
		padding:0 2em;
	}
	@include bp($s3) {
		padding:0 3em;
	}
	@include bp($s4) {
		padding:0 4em;
	}
}

.wrapper--fullwidth {
	padding:0 0;
	max-width: none;
	@include bp($s2) {
		padding:0 0;
	}
	@include bp($s4) {
		padding:0 0;
	}
}

.wrapper--wide {
	max-width: $widemax;
}
.wrapper--narrow {
	max-width: 40em;
	@include bp($s3) {
		max-width: $narrowmax;
	}
}


.btn {
	display: inline-block;
	padding:.5em 1.25em .333em;
	font-family: $sans-serif;
	font-weight: 900;
	font-size: 1.5em;
	background-color: $highlight;
	color:$seclight;
	text-decoration: none;
	border:none;
	&:hover, &:focus {
		background-color: $pridark;
		color:$prilight;
	}
}

/********* Typography ********/


ul {
	//list-style-type: none;
	padding:0 0 0 2.5em;
	margin:1.5em 0;
	li {
		margin:.5em 0;
	}
}


h2, h3, h4 {
	font-family: $dosis;
	font-weight: 600;
	margin: 2.5rem 0 0;
	color:$highlight;
	text-transform: uppercase;
}

h2 {
	font-size: 1.25em;
}
h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1.125em;
}
blockquote {
	@include clearfix();
	margin:1.5rem 0;
	padding:1.5rem 1.5rem 1.25rem 1.875rem;
	background-color: $seclight;
	border-left:.25em solid $highlight;
	//font-style: italic;
	font-family: $dosis;
	font-size: 1.25em;
	font-weight: 500;
	color: $secdark;

	& > *:first-child {
		margin-top: 0;
	}
	& > *:last-child {
		margin-bottom: 0;
	}


}
.highlight{
	@include clearfix();
	background:$seclight;
	color:$secdark;
	border:.333rem solid $seclight;
	padding:2rem 1.5rem;
	margin:1.5rem 0;
	transition: all 400ms ease;
	& > *:first-child {
		margin-top: 0;
	}
	& > *:last-child {
		margin-bottom: 0;
	}
}
.highlight:hover {
	background:#fff;
	border-color: $seclight;
}


.highlight--callme {
	padding:.5rem 1rem;
	h3 {
		float:left;
		font-family: $sans-serif;
		font-weight: 700;
		font-size: 1em;
		line-height: 1;
	}
	a {
		display: inline-block;
		float:right;
		font-weight: 700;
		font-size:1em;
		line-height: 1;
		color:$highlight;
	}
}

.onehalf {
	@include clearfix();
	@include bp($s1) {
		width:49%;
		float:left;
		margin:0 1% 4em 0;
		
		&.last {
			margin:0 0 4em 1%;
			float:right;
		}

		& > *:first-child {
			margin-top: 0;
		}

	}
	
}
.highlight--negative{
  background:$highlight;
  color:$prilight;
  border:2.33rem solid $seclight;
}
.highlight--negative:hover {
  background:$secdark;
  border-color: $seclight;
}