$pridark:#4b4b4b;
$secdark:#6d6d6d;
$tertdark:#ababab;

$prilight:#F4F4F4;
$seclight:#EAEAEA;

$highlight: #44b4a0;
$highlight-light:#7d9da0;
$highlight-dark: #225d52;


$s0:320px;
$s1:480px;
$s2:768px;
$s3:1024px;
$s4:1280px;
$s5:1600px;



$narrowmax: 890px;
$normalmax: 1140px;
$widemax: 1360px;



/****************
	Fonts
**************/
$dosis: 'Dosis', sans-serif;
$sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;