form {
	margin:1em auto;
	max-width: $s1;
	label {
		display: block;
		margin:.5em 0 .125em;
	}

	input, textarea {
		border:.25em solid $seclight;
		background-color: #fff;
		padding:.25em .25em;
		width:100%;
	}
	input[type="submit"] {
		background-color: $tertdark;
		padding:.5em .25em;
		font-weight: 700;
		color:$prilight;
		&:hover, &:focus {
			background-color: highlight;
		}
	}
	span.wpcf7-not-valid-tip {
		font-size: .875em;
		color:$highlight-light;
	}
	.wpcf7-validation-errors {
		border-color:$tertdark;
	}
}