.toggle--menu {
	position:fixed;
	display: inline-block;;
	z-index:10;
	right:0;
	top:0;
	//background-color: #fff;
	color: $highlight-light;
	text-shadow:0 0 1px #fff;
	//background-color: $prilight;
	font-size: 1em;
	line-height: 1;
	padding:.75em 1.25em;
	text-align: center;
	outline: none;
	font-weight: 600;
	font-family: $dosis;
	text-transform: uppercase;
	cursor: pointer;
	&:hover, &:focus {
		text-decoration: none;
		//background-color: #fff;
		color:$highlight;
	}
	.nav_isactive & {
		//right:20em;
		//background-color: #fff;
	}



	@include bp($s1) {
	}

	
	i {
		font-size: 2em;
		.nav_isactive &:before {
			content:"\f2d7";
		}	
	}

}

.thebrand {
	@include clearfix();
	line-height: 1.25;
	font-size:2.75em;
	margin-top: .875rem;
	margin-bottom: 2.75rem;
	margin-left: 1rem;
	color: $secdark;

	@include bp($s2) {
		color: $highlight-light;
		margin:0;
		font-size:3em;
		min-width:27rem;
		position: absolute;
		top:2.5rem;
		z-index: 0;	
	}
	@include bp($s4) {
		min-width:32rem;
	}

}

.thebrand__logo {
	@include hide-text();
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: auto 100%;
	display: none;
	float:left;
	font-size: 1em;
	line-height: 1;
	width:3em;
	height:2em;
	margin:0 -1.125em 0 0 ;

	&:hover, &:focus {
		opacity: 0.75;
	}

	@include bp($s2) {
		display: inline-block;
	}

}

.thebrand__sitename {
	font-family: $dosis;
	font-size: .4em;
	line-height: 1;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .1em;
	display: block;
	margin:3.125em 0 0 0;

}
.thebrand__sitedescr {
	display: block;
	font-size: .333em;
	font-variant: small-caps;
}

.thebrand--mobile__sitename {
	color: $highlight-light;
	font-family: $dosis;
	font-size: 1em;
	line-height: 1;
	font-weight: 600;
	text-transform: uppercase;
	//letter-spacing: .125em;
	display: block;
	margin:.666rem 0 0 0;
	float:left;
	min-width: 14em;
	@include bp($s1) {
		font-size: 1.333em;
		margin-top: .5rem;
	}
}



.thebrand--mobile__logo {
	@include hide-text();
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: auto 100%;
	display: inline-block;
	float:left;
	font-size: 1em;
	line-height: 1;
	width:3.5em;
	height:2.5em;
	margin:0 .333em 0 0 ;

	&:hover, &:focus {
		opacity: 0.75;
	}

}





.banner--mobile {
	@include clearfix();
	position: relative;
	background-color: $prilight;
	margin:0 0;
	padding:.5em 0;
	overflow: hidden;

	
	@include bp($s1){
	}

	@include bp($s2){
		display: none;
	}

}



.banner {
	@include clearfix();
	position: relative;
	width:20em;
	height: 100vh;
	float:right;
	transition: margin .4s ease;
	
	margin-right: -100%;

	.nav_isactive & {
		margin-right: 0;
	}
	
	.wrapper {
		padding:0 0;
		background-image: url('../images/fullheadbg.png');
		background-position: center 10em;
		background-size: 75% auto;
		background-repeat: no-repeat;
		position: fixed;
		top:0; right:0;
		bottom:0;
		width:20em;
		overflow:auto;

		
		@include bp($s2) {
			width:auto;
			position:relative;
			overflow: visible;
			background-position: 5% center;
			background-size: auto 100%;
			min-height: 10rem;
		}

		@include bp($s4) {
			min-height: 10rem;
		}
		@include bp($s5) {
			min-height: 11rem;
		}
	}

	@include bp($s2) {
		background-color: $prilight;
		height: auto;
		width:100%;
		float:none;
		margin-right: 0;
		.nav_isactive & {
			margin-right: 0;
		}

		.wrapper {
			padding:0 2em 2rem;
		}
	}

	@include bp($s3) {
		.wrapper {
			padding:0 3em 2rem;
		}
	}
	@include bp($s4) {
		.wrapper {
			padding:0 4em 2rem;
		}
	}
}




#lang_sel_list {
	@include clearfix();
	//float:right;
	position: absolute;
	top:1rem;
	left:1rem;
	// width:5em;
	// height:2em;
	//background-color: $seclight;
	@include bp($s2) {
		right:2rem;
		bottom:1.666rem;
		top:auto;
		left:auto;

	}
	@include bp($s3) {
		right:3rem;
	}
	@include bp($s4) {
		right:4rem;

	}
	ul {
		margin:0;
		padding:0;

		li {
			margin:0;
			padding:0;
			display: inline-block;
			font-size: .875em;
			line-height: 1;
			font-weight: 700;
			&:not(:first-child) {
				border-left:2px solid $linea;
				padding-left:.333em;
				margin-left: .333em;
			}
			a {
				color:$highlight;
				&:hover,&:focus {
					text-decoration: none;
					color:$highlight-light;
				}
				@include bp($s2) {
					color:$highlight;
					&:hover,&:focus {
						color:$highlight-light;
					}
				}


			}
		}
	}
}



.document {
	background-color: $prilight;
	position: relative;
	@include clearfix();
	min-height: 100vh;
	width: 100%;
	margin: 0 auto;
	
	float:right;
	
	
	margin-left:0;
	transition: margin .4s ease;
	.nav_isactive & {
		margin-left: -100%;
	}

	@include bp($s1) {

	}
	@include bp($s2) {
		float:none;
		margin-left: 0;
		.nav_isactive & {
			margin-left: 0;
		}
		width: 100%;
	}

}

