.main-nav {


	display: block;
	text-align: center;

	.col-holder {}	

	&.show {
		.col-holder {}
	}
	
	.nav-title {
		font-style: italic;
		font-size: 1em;
		line-height: 1;
		margin:0;
		//color:#fff;
		//color:$blue-light;


	}
}

.nav--main{
	@include clearfix();
	list-style-type: none;
	padding:0;
	margin:3em 0;
	text-align: left;
	font-size: 1.25em;
	@include bp($s2){
		float:right;
		margin:2em 0 0; 
		font-size: 1em;
	}
	
	
	li {
		padding:0 0;
		margin:0 0;
		&:not(:last-child) {
			border-bottom: 1px solid #d0d0d0;
		}

		&:not(:first-child) {
			border-top: 1px solid $prilight;
		}

		@include bp($s2){
			display: inline-block;
			text-align: right;
			margin: 0 0 0 1.333em;
			padding:0;
			&:not(:last-child) {
				border-bottom: none;
			}

			&:not(:first-child) {
				border-top: 1px none;
			}
		}


		> a {
			display: block;
			padding:.666em 0 .5em .5em;		
			//font-size:1.25em;
			line-height: 1em;
			font-weight: 600;
			font-family: $dosis;
			color: $highlight;
			border-left:.333rem solid transparent;


			&:hover,&:focus {
				text-decoration: none;
				color:$highlight-dark;
				//border-left:.333rem solid $highlight;
				color:$highlight-dark;
			}

			@include bp($s2){

			}
			
		}
	}

	li.active{
		> a {
			//border-left:.333rem solid $highlight;
			color:$highlight-dark;
		} 
	}


	.dropdown.is_open > a + .sub-menu{
		height:auto;
	}
	a:focus + .sub-menu {
		height: auto;
	}

	.sub-menu {
		overflow: hidden;
		margin:0;
		padding:0 0;
		height:0;
		&:hover {
			height:auto;
		}
		@include bp($s2) {
			background-color: $seclight;
			position: absolute;
			z-index:1;
			//border:1px solid $prilight;
			border-left: .333rem solid $highlight;
		}

		li {
			margin:0;
			padding:0 0;

			> a {
				padding-left: 2em;
				padding-right: 2em;
				color:$tertdark;
				border-left-color:transparent;
				&:hover,&:focus {
					background-color:$prilight;
					color: $highlight;
					border-left-color: $prilight;
				}
			}
			&.separator > a{
				padding-top:1.666em;
				padding-left: 1em;
				color:$highlight;
				&:hover,&:focus {
					background-color:transparent;
					color: $highlight;
					border-left-color:transparent;
				}
			}
			&:last-child > a {
				padding-bottom: 1.666em;
			}
			@include bp($s2) {
				display: block;
				text-align: left;
				&:not(:last-child) {
					border-bottom: 1px solid #d0d0d0;
				}

				&:not(:first-child) {
					border-top: 1px solid $prilight;
				}

				

			}
		}
		li.active {
			> a {
				color: $pridark;
			} 
		}


	}

}


/********* Site Bottom Nav *********/


.sidebar-footer .menu, .sidebar-footer .widget_recent_entries ul{
	list-style-type: none;
	padding:0;
	margin:0;
	li{
		
		> a {
			display: block;
			font-size: 12px;
			padding:0.25em 0;
			.item--descr{
				display:none;
			}
		}

	}
}

