.navbar-header {
	position: relative;
	text-align: center;

}
.toggle--menu {
	position:absolute;
	display: inline-block;;
	z-index:10;
	right:0;
	top:-.666em;
	background-color: $seclight;
	color: $pridark;
	font-size: .875em;
	line-height: 3.5;
	padding:0 0.875em 0;
	text-align: center;
	outline: none;
	font-weight: 600;
	font-family: $dosis;
	text-transform: uppercase;
	&:hover, &:focus {
		text-decoration: none;
		background-color: $secdark;
		color:$prilight;
	}

	@include bp($s1) {
	}


}
.brand, .brand--mobile{
	@include hide-text();
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: auto 100%;
	display: block;
	font-size: 1em;
	line-height: 1;
	width:3em;
	height:2em;

	&:hover, &:focus {
		opacity: 0.75;
	}

	@include bp($s2) {
		position: static;
		font-size: 2em;
		margin:.5em 0 0;
	
	}
	
	@include bp($s3) {
		
		font-size: 3em;
		margin:.5em 0 0;
	}
	
}


.main-nav {


	display: block;
	text-align: center;

	.col-holder {}	

	&.show {
		.col-holder {}
	}
	
	.nav-title {
		font-style: italic;
		font-size: 1em;
		line-height: 1;
		margin:0;
		//color:#fff;
		//color:$blue-light;


	}
}

.nav--main{
	@include clearfix();
	list-style-type: none;
	padding:0;
	margin:3em 0;
	text-align: left;
	font-size: 1.25em;
	@include bp($s2){
		float:right;
		margin:0 0; 
		font-size: 1em;
	}
	
	
	li {
		padding:0 0;
		margin:0 0;
		&:not(:last-child) {
			border-bottom: 1px solid #d0d0d0;
		}

		&:not(:first-child) {
			border-top: 1px solid $prilight;
		}

		@include bp($s2){
			display: inline-block;
			text-align: right;
			margin: 0 0 0 1.333em;
			padding:0;
			&:not(:last-child) {
				border-bottom: none;
			}

			&:not(:first-child) {
				border-top: 1px none;
			}
		}


		> a {
			display: block;
			padding:.666em 0 .5em 1em;		
			//font-size:1.25em;
			line-height: 1em;
			font-weight: 600;
			font-family: $dosis;
			color: $highlight;
			border-left:.333em solid transparent;

			&:hover,&:focus {
				text-decoration: none;
				color:$highlight-dark;
				border-left:.333em solid $highlight;
			}

			@include bp($s2){
				//font-size: 1em;
			}
			
		}
	}

	li.active{
		> a {
			border-left:.333em solid $highlight;
		} 
	}


	.dropdown.show > a + .sub-menu{
		height:auto;
	}
	a:focus + .sub-menu {
		height: auto;
	}

	.sub-menu {
		overflow: hidden;
		margin:0;
		padding:0;
		height:0;
		@include bp($s2) {
			background-color: $seclight;
			position: absolute;
			z-index:1;
			//border:1px solid $prilight;
			border-left: .333em solid $highlight;
		}

		li {
			margin:0;
			padding:0 0;

			> a {
				padding-left: 2em;
				padding-right: 2em;
				color:$tertdark;
				border-left-color:transparent;
				&:hover,&:focus {
					background-color:$prilight;
					color: $highlight;
					border-left-color: $prilight;
				}
			}
			&.separator > a{
				padding-top:1.666em;
				padding-left: 1em;
				color:$highlight;
				&:hover,&:focus {
					background-color:transparent;
					color: $highlight;
					border-left-color:transparent;
				}
			}
			&:last-child > a {
				padding-bottom: 1.666em;
			}
			@include bp($s2) {
				display: block;
				text-align: left;
				&:not(:last-child) {
					border-bottom: 1px solid #d0d0d0;
				}

				&:not(:first-child) {
					border-top: 1px solid $prilight;
				}

				

			}
		}
		li.active {
			> a {
				color: $pridark;
			} 
		}


	}

}


/********* Site Bottom Nav *********/


.sidebar-footer .menu, .sidebar-footer .widget_recent_entries ul{
	list-style-type: none;
	padding:0;
	margin:0;
	li{
		
		> a {
			display: block;
			font-size: 12px;
			padding:0.25em 0;
			.item--descr{
				display:none;
			}
		}

	}
}

