.page__header {
	@include clearfix();
	color:$prilight;
	background-color: $highlight;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: left bottom;
	//background-image: linear-gradient(to top, $prilight 0, $prilight 8rem, $highlight 8rem );
	.home & {
		//background-image: none !important;
		background-image: linear-gradient(to top, $highlight-dark 0, $highlight 100% ) !important;
		.page__header__text {
			text-shadow:0 0 1px $highlight;
		}
		@include bp($s2) {
		  background-image: linear-gradient(to right, $highlight 0, $highlight 66.666%, transparent 66.666%),
		linear-gradient(to bottom, $highlight 0, $highlight-dark 100% ) !important;
		}
	
	}
	
	@include bp($s2) {
		background-image: linear-gradient(to right, $highlight 0, $highlight 66.666%, transparent 66.666%),
		linear-gradient(to bottom, $highlight 0, $highlight-dark 100% ) !important;
	}

	@include bp($s2) {
		
	}

	.wrapper {
		max-width: $widemax;
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-position: left bottom;
		@include bp($s1) {
			background-image: none !important;
		}
		.page-template-template-contact-php & {
			max-width: none;
		}
	}
}


.page__headerinnerwrapper {
	@include clearfix();
	max-width:$widemax; 
	margin:0 auto;
	@include bp($s2) {
		background-image: linear-gradient(to right, $highlight 0, $highlight 66.666%, transparent 66.666%),
		linear-gradient(to bottom, $highlight 0, $highlight-dark 100% ) !important;
	}
}


.page__header__text {
	@include clearfix();
	padding:2em 1em;
	min-height: 10em;
	text-shadow:0 0 2px $highlight;
	@include bp($s2) {
		text-shadow:none;
		float:left;
		width:66.666%;
		min-height: 12em;
		border-right: .333em solid $prilight;
		padding:2em 2em 3em;
	}
	@include bp($s3) {
		padding:2em 3em 3em;
		min-height: 13em;
	}
	@include bp($s4) {
		padding:2em 4em 3em;
		min-height: 13em;
	}
	@include bp($s5) {
		
	}
}


.page__header__figure {
	@include clearfix();
	//position: relative;
	margin:0 0;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: left bottom;
	border-top: .333rem solid #fff;
	//border-bottom: .333rem solid #fff;

	@include bp($s2) {
		border: none;
		float:right;
		width:33.333%;
		margin:0;
		//min-height: 10em;
		&:after {
			position: absolute;
			content: '';
			left:66.666%;
			top:0;
			bottom:0;
			display: block;
			width:33.333vw;
			background-image: inherit;
			background-position: left bottom;
			background-size: auto 100%;
			background-repeat: no-repeat;
			//background-color: rgba(red,.5);


		}
	}

	@include bp($s4) {
		//min-height: 13em;
	}

	img {
		display: none;
	}
}



.page__header__title {
	max-width: $s1;
	text-transform: uppercase;
	font-family: $dosis;
	font-size: 1.5em;
	line-height: 1;
	font-weight: 600;
	margin:0 0;
	@include bp ($s2) {
		font-size: 1.75em;
	}

	.home &{
		display: none;
	}
}

.page__header__intro {
	font-size: 1.25em;
	font-family: $dosis;
	font-weight: 400;
	max-width: 35em;
	margin:.5em 0 0;
}
.page__header__meta {
	font-size: 1.25em;
	font-family: $dosis;
	font-weight: 400;
	max-width: 35em;
	margin:.5em 0 2em;
	a {
		color:inherit;
	}

}
.page__contentinnerwrapper {
	max-width:$widemax; 
	margin:0 auto;
}
.page__conentwrapper, .page__contentinnerwrapper {
	@include clearfix();
	@include bp($s2) {
		background-image: linear-gradient(to right, $prilight 0, $prilight 66.666%, $seclight 66.666%);
	}
}

.page__content {
	@include clearfix();
	padding:2em 1em 4em;
	@include bp($s1) {
		padding:2em 2em 4em;
	}
	@include bp($s2) {
		float:left;
		width:66.666%;
		padding: 4em 2em 6em;
		border-right: .25rem solid $prilight;
		min-height: 70em;
		.home & {
			min-height:50em;
		}
	}
	@include bp($s3) {
		padding:4em 3em 6em;
	}
	@include bp($s4) {
		padding:4em 4em 6em;
	}
	
	& > *:first-child, & > .fullarticle > *:first-child  {
		margin-top:0;
	}
}


.page__content__footer {
	margin:4em 0;
}
.page__sidebar {
	@include clearfix();
	background-color: $seclight;
	margin:1em 0 0;
	@include bp($s2) {
		float:right;
		width:33.333%;
		background-color: transparent;
		margin:0;
	}
	@include bp($s4) {
		padding-right: 4rem;
	}

}


.mapcanvas {
	min-height: 15em;
	background-color: $seclight;
	border-top:.333em solid #fff;
	border-bottom:.333em solid #fff;
	
}





.sharing {
	@include clearfix();
	display: block;
	margin: 2em 0;
	background-color: $seclight;
	border-left: .333rem solid $highlight;
	padding:1rem 1rem;
	transition:all .2s ease;
	&:hover, &:focus {
			background-color: #fff;
		}
	h3 {
		display: block;
		//max-width: 20em;
		//background-color: $seclight;

		font-size: 1em;
		line-height: 1;
		
		color:$highlight;
		margin:0 0 .5em;
	}

	a {
		display: inline-block;
		font-size: 1rem;
		line-height: 1.666;
		width:1.666em;
		height:1.666em;
		text-align: center;
		background-color: $tertdark;
		color:$prilight;
		margin-right: .25em;
		&:hover, &:focus {
			background-color: $highlight;
		}

		&:first-of-type {
			//margin-left: 1.333rem;
		}
	}
}

.home__contact {
	@include clearfix();
	font-size: .875em;
	margin:3em 0 0;
	padding:2em 0 0;
}