.entry {
	@include clearfix();
	//font-size: .875em;
	margin:0 0 2.5em 0;
	padding:0 0 2.5em;
	&:not(:last-child) {
		border-bottom:1px solid $seclight;
	}

}
.entry__title {
	margin:0 0;
	font-family: $dosis;
	font-size:1.5em;
	line-height: 1.2;
	font-weight: 600;
	text-transform: uppercase;
	a {
		color:$highlight;
		&:hover,&:focus {
			color:$highlight-light;
		}
	}
}

.entry__meta {
	font-weight: 700;
	color:$tertdark;
	font-size:.875em;
}

.entry__summary {
	margin:1em 0 0 0;
	p {
		margin:0;
		a:last-of-type {
			display: block;
			margin-top:1em;
			font-size: .875em;
			//font-style: italic;
			font-weight: 700;
			color:$tertdark;
			&:after {
				content:'...';
			}
			&:hover, &:focus {
				color:$highlight;
			}
		}
	}
}