.relatedblock {
	margin: 4em 0;
}

.related__head {
	@include clearfix();
	border-left:.333em solid $highlight;
	background-color: $seclight;
	padding:.5em 1em;

}
.related__title {
	margin:0 0;
	font-size: 1em;
	line-height: 1;
	text-transform: uppercase;
	color:$highlight;
}

.related__list {
	list-style-type: none;
	margin:1.5em 0;
	padding:0 0 ;
}

.related__item {
	padding:0 0;
	margin:0 0;
	font-size: .875em;
	> a {
		position: relative;
		display: block;
		padding:.333rem 0 .333rem 2.875rem;
		font-weight: 700;
		color:$secdark;

		&:hover, &:focus {
			color:$highlight-light;
			i {
				color:$highlight;
				left:1.75rem
			}
			span {
				color:$secdark;
			}
		}
		
		i {
			transition: left .2s ease;
			color:$highlight;
			position: absolute;
			left:1.333rem;
			top:.5rem;
			
		}

		span {
			font-weight: 400;
			padding-left: .5rem;
			margin-left: .5rem;
			border-left: 1px solid currentColor;
		}
	}

	&:not(:first-child) > a {
		border-top: 1px solid #fff;
	}
	&:not(:last-child) > a {
		border-bottom: 1px solid $seclight;
	}	
}