.widget {
  margin: 4em 0 4em;
  .pagefooter & {
    margin: 0;
  }
}
.widget__title {
	font-family: $sans-serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;

  margin: 0;
  padding: 0 0 0 1rem;

  text-transform: uppercase;

  color: $highlight;
  border-left: .333rem solid $highlight;
}

.textwidget {
 	font-size: 1em;

  padding: .5em 1em .5em 2.333rem ;

  .pagefooter & {
		padding: .5em 0 .5em 0;  	
  }

}

.widget_nav_menu {


	.menu {
		list-style-type: none;
		margin:0 0 1em;
		padding:0;
		li {
			margin:0;
			padding:0;
			border-bottom: 1px solid #d0d0d0;
			border-top: 1px solid $prilight;
			> a {
				display: block;
				text-transform: uppercase;
				color:$pridark;
				font-size: 1em;
				line-height: 1.25;
				padding:.5em 1em .5em 2rem;
				border-left: .333em solid transparent;
				&:hover, &:focus {
					background-color: $tertdark;
					border-left-color:$secdark;
					color:$prilight;
				}
			}
			&:last-child {
				border-bottom:none;
			}
			&:first-child {
				border-top:none;
			}
		}
		
		li.separator {
			> a {
				text-transform: none;
				padding-left: 1rem;
				padding-top: 1.75em;
				color:$tertdark;
				&:hover, &:focus {
					background-color: transparent;
					border-left-color:transparent;
					color:$tertdark;
				}
			}
		}
		li.active:not(.separator) {
			> a {
				background-color: $tertdark;
				border-left-color:$secdark;
				color:$prilight;
			}
		}




	}
}


.widget_text {
	.home .page__sidebar & {
		display: none;
	}
	.page-template-template-contact-php .page__sidebar &:last-child {
		display: none;
	}
}